<footer class="footer">
    <section once="" class="cid-riJUZuMUga" id="footer7-6">
        <div class="container">
          <div class="media-container-row align-center mbr-white">
            <div class="row social-row">
              <div class="social-list align-right pb-2">
                <div class="soc-item">
                  <a href="https://github.com/johann-lr" target="_blank">
                    <i class="fab fa-github mbr-iconfont-social"></i>
                  </a>
                </div>
                <div class="soc-item">
                  <a href="mailto:support@musicbot.ga">
                      <i class="fas fa-envelope mbr-iconfont-social"></i>
                  </a>
                </div>
                <div class="soc-item">
                  <a href="/impressum">
                    <i class="fas fa-file-signature mbr-iconfont-social"></i>
                  </a>
                </div>
                <div class="soc-item">
                  <a href="/sitemap">
                    <i class="fas fa-sitemap mbr-iconfont-social"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row row-copirayt">
              <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">Johann L. 2018</p>
              <p class="mbr-section-subtitle">Cadence Music Bot for Discord</p>
            </div>
          </div>
        </div>
      </section>
</footer>
</div>
</body>

</html>