<%- include('blocks/header') %>
<div class="container">
	<h1 class="h1">Requested Page Not Found</h1>
	<br />
	<h4 class="text-warning">Server returned <strong style="color:orange">404</strong></h4>
	<canvas id="bg" width="300" height="200" style="position: fixed"> </canvas>
	<script type="text/javascript" src="/public/scripts/background-c.js"></script>
</div>
<%- include("blocks/footer") %>
