<%- include('blocks/header', {bot, user, path}) %>

<script type="application/javascript" src="/public/scripts/feedback-form.js"></script>
<script>
	$(document).ready(function() {
		$(".nav-breadcrumb").css({
			position: "absolute"
		});
	});
</script>

<section class="header5 cid-riJT0wNu1n mbr-fullscreen" id="header5-4">
	<script src="/public/scripts/background-c.js" type="text/javascript"></script>
	<canvas id="bg" width="800" height="800" style="position: fixed"> </canvas>
	<div class="container">
		<div class="row justify-content-center">
			<div class="mbr-white col-md-10">
				<h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">
					Cadence
				</h1>
				<p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
					Cadence is a powerful and easy to use music bot for your discord server.<br />No
					additional subscriptions, completly free to use!<br />
				</p>
				<div class="mbr-section-btn align-center">
					<a class="btn btn-md btn-primary display-4" href="#info-home">LEARN MORE</a>
					<a class="btn btn-md btn-secondary" href="#feedback">FEEDBACK</a>
					<a
						class="btn btn-md btn-white display-4"
						href="https://discordapp.com/oauth2/authorize?client_id=474196245989294080&scope=bot&permissions=36793408"
						>INVITE TO YOUR GUILD</a
					>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="counters1 counters cid-riJVWWPQ13" id="counters1-7">
	<div class="container" id="info-home">
		<h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Special Features</h2>

		<div class="container pt-4 mt-2">
			<div class="media-container-row">
				<div class="card p-3 align-center col-12 col-md-6 col-lg-3">
					<div class="panel-item p-3">
						<div class="card-img pb-3">
							<span
								class="mbr-iconfont socicon-spotify socicon"
								style="color: rgb(114, 137, 218);"
							></span>
						</div>

						<div class="card-text">
							<h3 class="count pt-3 pb-3 mbr-fonts-style display-2"></h3>
							<h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Spotify support</h4>
							<p class="mbr-content-text mbr-fonts-style display-7">
								Simply access your music by pasting your spotify playlist, album or songlinks.<br />Of
								course youtube links or a search function are also provided.
							</p>
						</div>
					</div>
				</div>

				<div class="card p-3 align-center col-12 col-md-6 col-lg-3">
					<div class="panel-item p-3">
						<div class="card-img pb-3">
							<span class="mbr-iconfont mbrib-sites" style="color: rgb(114, 137, 218);"></span>
						</div>
						<div class="card-text">
							<h3 class="count pt-3 pb-3 mbr-fonts-style display-2"></h3>
							<h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
								Web Dashboard
							</h4>
							<p class="mbr-content-text mbr-fonts-style display-7">
								Sick of typing bot commands into your text channels?<br />Cadence has its own
								dashboard that gives you the possibility to control everything with buttons.&nbsp;
							</p>
							<a class="btn btn-md btn-primary display-4" href="/demo">DEMO</a>
						</div>
					</div>
				</div>

				<div class="card p-3 align-center col-12 col-md-6 col-lg-3">
					<div class="panel-item p-3">
						<div class="card-img pb-3">
							<span class="mbr-iconfont mbrib-smile-face" style="color: rgb(114, 137, 218);"></span>
						</div>
						<div class="card-text">
							<h3 class="count pt-3 pb-3 mbr-fonts-style display-2"></h3>
							<h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
								<p>
									Lyrics
								</p>
							</h4>
							<p class="mbr-content-text mbr-fonts-style display-7">
								Easily get song lyrics. If you hate long novels appearing in your channels they're
								here as well.
							</p>
						</div>
					</div>
				</div>

				<div class="card p-3 align-center col-12 col-md-6 col-lg-3">
					<div class="panel-item p-3">
						<div class="card-img pb-3">
							<span class="mbr-iconfont mbrib-globe" style="color: rgb(114, 137, 218);"></span>
						</div>

						<div class="card-texts">
							<h3 class="count pt-3 pb-3 mbr-fonts-style display-2"></h3>
							<h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Multi-language</h4>
							<p class="mbr-content-text mbr-fonts-style display-7">
								Just switch between german, english and spanish. Futher languages like French are
								going to be added soon!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mbr-section cid-riJZWC5LW2">
	<div class="container align-center">
		<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Discord Server</h2>
		<p class="mbr-content-text display-7 mbr-fonts-style">
			Questions or problems?
			<br />
			Join the Cadence Support Server right now!
			<br />
			Get notified about <strong>downtime and further updates</strong>
			<br />
		</p>
		<a class="btn btn-primary btn-md display-4" href="https://discord.gg/yeSGAC3">JOIN DISCORD</a>
	</div>
</section>

<section class="mbr-section form1 cid-riJZWC5LW2" id="form1-8">
	<div class="container">
		<div class="row justify-content-center">
			<div class="title col-12 col-lg-8">
				<h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
					Bugs or Feedback?
				</h2>
				<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5"></h3>
			</div>
		</div>
	</div>
	<div class="container" id="feedback">
		<div class="row justify-content-center">
			<div class="media-container-column col-lg-8" data-form-type="formoid">
				<div data-form-alert="" hidden="">Thanks for filling out the form!</div>

				<form class="mbr-form" id="feedback-form" data-form-title="Mobirise Form">
					<div class="row row-sm-offset">
						<div class="col-md-4 multi-horizontal" data-for="name">
							<div class="form-group">
								<label class="form-control-label mbr-fonts-style display-7" for="name-form1-8"
									>Name</label
								>
								<input
									type="text"
									class="form-control"
									name="name"
									data-form-field="Name"
									required=""
									id="name-form1-8"
								/>
							</div>
						</div>
						<div class="col-md-4 multi-horizontal" data-for="email">
							<div class="form-group">
								<label class="form-control-label mbr-fonts-style display-7" for="email-form1-8"
									>Mail address</label
								>
								<input
									type="email"
									class="form-control"
									name="email"
									data-form-field="Email"
									required=""
									id="email-form1-8"
								/>
							</div>
						</div>
					</div>
					<div class="form-group" data-for="message">
						<label class="form-control-label mbr-fonts-style display-7" for="message-form1-8"
							>Message</label
						>
						<textarea
							type="text"
							required=""
							class="form-control"
							name="message"
							rows="7"
							data-form-field="Message"
							id="message-form1-8"
						></textarea>
					</div>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-md btn-form btn-primary display-4">
							SUBMIT
						</button>
					</span>
				</form>
				<div class="banner-success container" id="banner">
					Success!
				</div>
			</div>
		</div>
	</div>
</section>

<% include ./blocks/footer %>
